alabaster==1.0.0
amqp==5.3.1
APScheduler==3.11.0
asgiref==3.8.1
babel==2.17.0
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==44.0.2
Django==5.1.7
django-admin-tools==0.9.3
django-allauth==65.5.0
django-allauth-ui==1.6.1
django-apscheduler==0.7.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-docs==0.3.3
django-extensions==3.2.3
django-log-lens==0.1.12
django-log-viewer==1.1.7
django-solo==2.4.0
django-timezone-field==7.1
django-unfold==0.52.0
django-widget-tweaks==1.5.0
docutils==0.21.2
Faker==33.1.0
graphviz==0.20.3
gunicorn==23.0.0
idna==3.10
imagesize==1.4.1
insipid-sphinx-theme==0.4.2
Jinja2==3.1.6
kombu==5.5.0
MarkupSafe==3.0.2
numpy==2.2.1
packaging==24.2
pandas==2.2.3
prompt_toolkit==3.0.50
psycopg==3.2.3
psycopg2-binary==2.9.10
pyaml==25.1.0
pycparser==2.22
pydicom==3.0.1
Pygments==2.19.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
six==1.17.0
slippers==0.6.2
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-pdj-theme==0.5.0
sphinx-rtd-theme==3.0.2
sphinx-typo3-theme==4.9.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
