body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}


.form {
    margin-top: 3vh;
}

.table-container {
    margin-top: 5vh;
}

.table th,
.table td {
    text-align: center;
}

.table-container .btn {
    margin-top: 1rem;
}

h1 {
    color: #495057;
    font-size: 2.5rem;
}

.footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
}
pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    line-height: 1.3;
    /* Reduce line-height to tighten up spacing */
}

.map-entry {
    margin-bottom: 0;
    /* Remove extra margin between map entries */
}